
html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: #dadada;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

